<%- include('partials/header') %>


<h1>Promo : <%= promo[0].name %></h1>


<p>Github : <a href="<%= promo[0].github_organization %>"><%= promo[0].github_organization %></a></p>
<nav>
    <ul>
        <li><a href="/promos/<%= promo[0].id %>/students">Liste des étudiants</a></li>
        <li><a href="promo_edit.html">Modifier la promo</a></li>
    </ul>
</nav>

<%- include('partials/footer') %>